<!DOCTYPE html>
<html>
<head>
<title>Example</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="dist/Build.css">
</head>
<body>


<div id="Loading">LOADING</div>

<div id="App" v-cloak>

    <div id="Topbar">
        <div class="left">
            <input id="contentName" v-model="contentName" />
            <div id="EditorToolbar"></div>
        </div>
        <div class="right">
            <button id="SaveButton"><i class="fa fa-save"></i>SAVE</button>
            <div id="username"><a :href="username">{{ username }}</a></div>
        </div>
    </div>

    <div id="Template">
        <context id="Stage" :components="stage" data-context-name="stage"></context>
    </div>

    <aside id="Sidebar">
        <div id="Thumbnails">
            <div class="thumbnail" v-for="config in thumbnails">
                <div class="thumbnail-overlay"></div>
                <div class="thumbnail-grab"></div>
                <wrapper class="thumbnail-component" :config="config"></wrapper>
                <span class="font-base">{{ config.display }}</span>
            </div>
        </div>
        <div id="Widgetbar"></div>
        <div id="BottomBar">
            <div class="trash-wrap">
                <span><i class="fa fa-trash-o"></i>TRASH</span>
                <context class="font-base" id="Trash" :components:="trash" data-context-name="trash">Trash</context>
            </div>
            <button id="PreviewButton"><i class="fa fa-eye"></i>PREVIEW</button>
            <button id="CodeButton"><i class="fa fa-code"></i>GET CODE</button>
        </div>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
<script src="dist/Build.js"></script>