<!DOCTYPE html>
<html>
<head>
<title>Do Over</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="doover.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>

<div id="App" v-cloak>
    <context id="Stage" :components="stage" data-context-name="stage"></context>
    <aside id="Thumbnails">
        <div class="thumbnail"  v-for="data in thumbnails">
            <span>{{ data.display }}</span>
            <wrapper :config="data"></wrapper>
        </div>
    </aside>
</div>

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
<script type="text/javascript">
/*
    A note about nesting dragula containers:
    We want to be able to add environment commponents - components with scaffolding
    that can house any number of other components. Rather than create a new feature
    where components have sub components, why not allow any kind of component to be
    nested inside of the staging area of an environment component?
    In order to do this with dragula, each container needs to be wrapped. The wrap
    is what can be dragged around to different environments.
    http://codepen.io/jonmcgill/pen/JEBJGV?editors=1011
*/

Vue.component('wrapper', {
    props: ['config'],
    template: '<div class="Component"><component :is="config.name" :props="config"></component></div>',
    mounted: function() {
        // always set config as json on element attribute
        var compData = JSON.stringify(this.config);
        $(this.$el).attr('data-config', compData);
    }
})

Vue.component('context', {
    props: ['components', 'name'],
    template: '\
        <div class="Context">\
            <wrapper v-for="comp in components" :config="comp"></wrapper>\
        </div>',
    mounted: function() {
        addContainer(this.$el);
    }
})

Vue.component('two-column', {
    props: ['props'],
    template: '\
        <div class="ColumnWrap">\
            <context :components="props.left" data-context-name="left"></context>\
            <context :components="props.right" data-context-name="right"></content>\
        </div>'
})

Vue.component('copy', {
    props: ['props'],
    template: '<div class="editor-simple" v-html="props.content"></div>'
})

var app = new Vue({
    el: '#App',
    data: {
        thumbnails: [
            {   name: 'two-column',
                display: 'Two Column',
                left: [],
                right: []   },
            {   name: 'copy',
                display: 'Copy',
                content: '<p>Some lorem ipsum testum textum</p>' }
        ],
        stage: []
    }
})

var Stage = $('#Stage')[0],
    Thumbnails = $('#Thumbnails')[0];

var drake = dragula([Stage, Thumbnails], {
    copy: function(el, source) {
        return source === Thumbnails;
    },
    accepts: function(el, target) {
        return target !== Thumbnails;
    },
    removeOnSpill: function(el, source) {
        return source === Stage;
    }
}).on('drop', function(el, target, source, sibling) {
    if (source === Thumbnails && $(target).hasClass('Context')) {
        var compData = JSON.parse($(el).find('.Component').attr('data-config'));
        var index = getIndex($(el).parent(), el);
        var dataPath = walkUp(el);
        walkDown(dataPath.reverse(), compData);
        $(el).remove();
    }
})

function addContainer(el) {
    if (drake) {
        drake.containers.push(el);
    }
}

// UTILITIES
function random(min, max) {
    return Math.floor(Math.random() * (max - min + 1) + min);
}
function genID(num) {
    var id = 'ID-', i = 1;
    while (i <= num) {
        if (i % 2 === 0) {
            id += String.fromCharCode(_.random(65, 90));
        } else {
            id += String.fromCharCode(_.random(48, 57));
        }
        i++;
    }
    return id;
}
function copy(obj) {
    return JSON.parse(JSON.stringify(obj));
}
function getIndex(area, item) {
    var index;
    $(area).children().each(function(i) {
        if (this === item) {
            index = i;
            return false;
        }
    })
    return index;
}
function log(thing) {
    console.log(thing);
}
function walkUp(el, selector) {
    var path = [];
    function travel(elem) {
        var nextContext = $(elem).closest('.Context')[0];
        var index = getIndex(nextContext, elem);
        var name = $(nextContext).attr('data-context-name');
        path.push({index: index, name: name});
        if ($(nextContext).attr('id') !== 'Stage') {
            travel($(nextContext).closest('.Component')[0])
        }
    }
    travel(el);
    return path;
}

function walkDown(path, obj) {
    var item = app;
    path.forEach(function(data, i) {
        if (i === path.length - 1) {
            item[data.name].splice(data.index, 0, obj);
        } else {
            item = item[data.name][data.index];
        }
    })
    return;
}



</script>
</body>
</html>