/* 
  DRAGULA
*/
.gu-mirror{
  position:fixed!important;
  margin:0!important;
  z-index:9999!important;
  opacity:.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter:alpha(opacity=80)}
.gu-hide{
  display:none!important}
.gu-unselectable{
  -webkit-user-select:none!important;
  -moz-user-select:none!important;
  -ms-user-select:none!important;
  user-select:none!important}
.gu-transit{
  opacity:.2;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter:alpha(opacity=20)}
/* Overwrite */
.gu-mirror {
  opacity: 0.6;
  /*background: rgba(0,0,0,0.3);*/
  border-radius: 3px;
}

* {
    box-sizing: border-box;
}
[v-cloak] {
  display: none;
}

#Loading {
  position: absolute;
  width: 100%;
  top: 50%;
  line-height: 2em;
  color: rgba(0,0,0,0.15);
  font-family: sans-serif;
  font-size: 5em;
  text-align: center;
}

body {
    background: #e9ebee;
}

#App:after {
    display: table;
    content: '';
    clear: both;
}

#Thumbnails, #Stage {
    float: left;
    background: white;
    padding: 2em;
}

#Stage {
    width: calc(70% - 2em);
    margin-right: 2em;
}

#Thumbnails {
    width: 30%;
    background: lightgreen;
    border: 1px solid black;
}

.Context {
    padding: 1em;
    border: 1px solid #888;
}
.ColumnWrap {
  padding: 4px;
  background: lightblue;
  border: 1px solid green;
  margin: 2px;
}
.ColumnWrap:after {
  content: '';
  display: table;
  clear: both;
}
.ColumnWrap > div {
  float: left;
  width: calc(50% - 8px);
  background: white;
  margin: 4px;
}