html {
    box-sizing: border-box;
    * {
        box-sizing: inherit;
    }
}

body {
    margin: 0;
    padding: 0;
}

.cmint {

    // @extend %cmint-type;

    .hidden {
        display: none !important;
    }

    input[type="text"],
    textarea {
        background: white;
        width: 100%;
        padding: 0.65em 0.8em;
        outline: none;
        border: 1px solid #ccc;
        color: $color-font-dark;
        &:focus {
            border: 1px solid $color-accent;
            box-shadow: 0px 0px 2px 0px $color-accent;
        }
    }

    ::-webkit-input-placeholder {
       color: lighten($color-font-fade, 35%);
       font-style: italic;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: lighten($color-font-fade, 35%);
       font-style: italic;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: lighten($color-font-fade, 35%);
       font-style: italic;
    }

    :-ms-input-placeholder {  
       color: lighten($color-font-fade, 35%);
       font-style: italic;  
    }

}