
#Stage .Component:hover,
#Stage .Context:hover {
    border-color: rgba(0,0,0,0.5);
}

.Component {
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    position: relative;
    padding: 5px;
    *:not(.Component) {
        cursor: auto;
    }
    border: 1px dashed transparent;

    .comp-toolbar {
        position: absolute;
        top: -3px;
        right: -3px;
        display: none;
        button {
            background: none;
            border: none;
            float: left;
            font-size: 0.8em;
            padding: 0;
            color: white;
            width: 1.8em;
            line-height: 1.6em;
            margin-left: 4px;
            border-radius: 3px;
            text-align: center;
        }
        button, i {
            cursor: pointer;
        }
        .btn-toolbar:nth-child(1) {
            background-color: #689F38;
        }
        .btn-toolbar:nth-child(2) {
            background-color: #F44336;
        }
        .btn-toolbar:nth-child(3) {
            background-color: $color-accent;
        }
        .btn-toolbar:nth-child(4) {
            background-color: #37474F;
        }
    }

}

.Context:not(#Stage):not(#Trash),
#Thumbnails .Component {
    padding: 1em;
}

.active > .comp-toolbar {
    display: block;
}

.ColumnWrap {
    &:after {
        display: table;
        content: '';
        clear: both;
    }
    & > div {
        padding: 1em;
        margin: 0.2em;
        width: calc(50% - 0.4em);
        float: left;
        display: inline-block;
    }
}