#Stage .Component {

    transition: padding 200ms, background 200ms;

    &.active {
        position: relative;
        outline: 2px solid $color-accent;
        box-shadow: 0 0 16px $color-accent;
    }
}