#Template {
    margin: 70px 30em 5em 5em;
    transform: scale(1);
    transition: transform 200ms;

    &.scale {
        transform: scale(0.85);
    }

    .Contextualized {
        padding: 12px;
        background: rgba($color-accent, 0.5);
        border: 1px dashed black;
    }

    .Contextualized.active {
        position: relative;
        outline: 2px solid orange !important;
        box-shadow: 0 0 16px orange !important;
    }

}