#Toolbar {
    position: fixed;
    right: 26.4em;
    bottom: 2em;

    button {
        display: block;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        background: lighten($color-accent, 10%);
        cursor: pointer;
        border: none;
        margin-top: 0.5em;
        position: relative;
        &:hover {
            background: lighten($color-accent, 18%);
        }
        &:hover:before {
            content: 'Undo';
            position: absolute;
            left: -7em;
            top: 0.5em;
            background: #444;
            color: white;
            padding: 0.3em;
            font-size: 0.9em;
            border-radius: 3px;
            width: 6em;
        }
        &[disabled] {
            opacity: 0.4;
            color: darken($color-accent, 14%);
            cursor: default;
            &:hover {
                background: lighten($color-accent, 10%);
            }
            &:hover:before {
                display: none;
            }
        }
    }

    .toolbar-undo:hover:before {
        content: 'Undo';
    }
    .toolbar-save:hover:before {
        content: 'Save';
    }
    .toolbar-code:hover:before {
        content: 'Get Code';
    }

}