.cmint {

    &#Sidebar {
        position: fixed;
        top: 40px;
        bottom: 0;
        right: -360px;
        transition: right 200ms;
        background: $color-bg-lightgray;
        border-left: 1px solid #ddd;
        width: 360px;
        z-index: 35;
        .cmint-sidebar-handle {
            cursor: pointer;
            position: absolute;
            width: 32px;
            height: 26px;
            left: -32px;
            background: transparent;
            transition: background 200ms;
            color: $color-accent;
            i {
                font-size: 0.8em;
                line-height: 22px;
                margin-left: 9px;
                margin-top: 2px;
            }
        }
    }

    &#Sidebar.active {
        right: 0px;
        .cmint-sidebar-handle {
            background: $color-bg-lightgray;
            border-left: 1px solid $color-bd-light;
            border-bottom: 1px solid $color-bd-light;
            color: $color-font-fade;
        }
    }

    .sidebar-top {
        padding: 1em 0 1em;
        &:after {
            display: table;
            content:'';
            clear: both;
        }
        .content-name {
            color: $color-font-fade;
            padding: 0.2em 0;
            margin-left: 2em;
            float: left;
            @extend %cmint-type;
        }
        .username {
            @extend %cmint-type;
            float: right;
            margin-right: 2em;
            background: #fafafa;
            padding: 0.2em 0.5em;
            color: $color-font-fade;
            border: 1px solid $color-bd-light;
            border-radius: 3px;
            cursor: pointer;
            &:hover {
                background: white;
                color: $color-font-dark;
                box-shadow: $shadow-sidebar-action;
            }
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .sidebar-sub {
        padding: 16px 0 16px;
        height: 70px;
        border-bottom: 1px solid #ccc;
        @extend %cmint-type;
        .component-categories {
            padding: 0 1em;
        }

    }

    .sidebar-main {
        // border-top: 1px solid $color-bd-lighter;
        padding: 1em 2em;
        background: #e4e4e4;
        overflow-y: auto;
        position: absolute;
        top: 70px;
        bottom: 0;
        width: 100%;
    }

}
