#Toolbar {
    position: fixed;
    top: 0;
    padding: 0 1em;
    width: 100%;
    z-index: 400;
    background: #333;
    color: white;
    line-height: 40px;
    height: 40px;
    @extend %cmint-type;

    .divider {
        float: left;
        display: inline-block;
        padding: 0 0.2em;
        color: rgba(255,255,255,0.3);
    }

    .right {
        float: right;
        color: rgba(255,255,255,0.8);
        font-size: 0.9em;
        -webkit-font-smoothing: antialiased;
        a {
            color: lighten($color-accent, 15%);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        span {
            margin-right: 1em;
            &:after {
                content: '|';
                margin-left: 1em;
            }
        }
    }

    .cmint-btn-toolbar > button {
        cursor: pointer;
        position: relative;
        outline: none;
        float: left;
        // height: 20px;
        line-height: 20px;
        margin: 6px 4px;
        padding: 6px 10px;
        background: none;
        border: none;
        -webkit-font-smoothing: antialiased;
        color: rgba(255,255,255,0.4);
        font: 1em sans-serif;
        font-size: 0.9em;
        &.active,
        &.active:hover {
            color: lighten($color-accent, 15%);
        }
        i {
            margin-right: 6px;
        }
        &:hover {
            color: rgba(255,255,255,0.8);
            &:after {
                color: rgba(255,255,255,0.4);
            }
        }
        &[disabled] {
            opacity: 0.4;
            color: rgba(255,255,255,0.2);
            cursor: default;
        }
    }

    button.toolbar-btn-fancy {
        background: lighten($color-accent, 10%);
        color: $color-font-fade;
        &:hover {
            background: lighten($color-accent, 20%);
            color: $color-font-dark;
        }
    }

    // .toolbar-undo:hover:before {
    //     content: 'Undo';
    // }
    // .toolbar-save:hover:before {
    //     content: 'Save';
    // }
    // .toolbar-code:hover:before {
    //     content: 'Get Code';
    // }

}

.notification {
    @extend %cmint-type;
    background: lighten($color-accent, 10%);
    border: 1px solid darken($color-accent, 10%);
    border-radius: 0 3px 3px 0;
    color: rgba(0,0,0,0.8);
    display: inline-block;
    padding: 0.5em 1em;
    position: fixed;
    bottom: 2em;
    left: -5em;
    transition: left 100ms;
    &.active {
        left: -2px;
    }
}