#Toolbar {
    position: fixed;
    top: -50px;
    transition: top 200ms;
    padding: 0 1em;
    width: 100%;
    z-index: 400;
    background: #333;
    color: white;
    line-height: 40px;
    border-bottom: 1px solid #555;
    height: 40px;
    @extend %cmint-type;

    .cmint-toolbar-handle {
        position: absolute;
        right: 0;
        top: 50px;
        transition: top 200ms;
        cursor: pointer;
        width: 30px;
        color: $color-accent;
        i {
            font-size: 0.9em;
            margin-left: 8px;
        }
    }

    &.active {
        top: 0;
        .cmint-toolbar-handle {
            color: rgba(255,255,255,0.4);
            top: 0;
        }
    }

    .divider {
        float: left;
        display: inline-block;
        padding: 0 0.2em;
        color: rgba(255,255,255,0.3);
    }

    .right {
        float: right;
        color: rgba(255,255,255,0.8);
        font-size: 0.9em;
        margin-right: 2em;
        -webkit-font-smoothing: antialiased;
        a {
            color: lighten($color-accent, 15%);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        span {
            margin-right: 1em;
            &:after {
                content: '|';
                margin-left: 1em;
            }
        }
    }

    .cmint-btn-toolbar > button,
    & > button {
        cursor: pointer;
        position: relative;
        outline: none;
        float: left;
        // height: 20px;
        line-height: 20px;
        margin: 6px 4px;
        padding: 6px 10px;
        background: none;
        border: none;
        -webkit-font-smoothing: antialiased;
        color: rgba(255,255,255,0.4);
        font: 1em sans-serif;
        font-size: 0.9em;
        &.active,
        &.active:hover {
            color: lighten($color-accent, 15%);
        }
        i {
            margin-right: 6px;
        }
        &:hover {
            color: rgba(255,255,255,0.8);
            &:after {
                color: rgba(255,255,255,0.4);
            }
        }
        &[disabled] {
            opacity: 0.4;
            color: rgba(255,255,255,0.2);
            cursor: default;
        }
    }

    button.toolbar-btn-fancy {
        // background: lighten($color-accent, 10%);
        // color: $color-font-fade;
        color: lighten($color-accent, 15%);
        border: 1px solid lighten($color-accent, 15%);
        transition: background 200ms, color 200ms;
        border-radius: 3px;
        &:hover {
            // background: lighten($color-accent, 20%);
            // color: $color-font-dark;
            background: lighten($color-accent, 15%);
            color: black;
        }
    }

    // .toolbar-undo:hover:before {
    //     content: 'Undo';
    // }
    // .toolbar-save:hover:before {
    //     content: 'Save';
    // }
    // .toolbar-code:hover:before {
    //     content: 'Get Code';
    // }

}

.cmint-notification {
    @extend %cmint-type;
    background: #333;
    border: $color-bd-light;
    color: white;
    display: inline-block;
    padding: 0.25em 1em;
    position: fixed;
    bottom: 2em;
    left: -5em;
    transition: left 150ms;
    &.active {
        left: -2px;
    }
}