#ActionBar {
    opacity: 0;
    transition: opacity 200ms;
    margin-left: -44px;
    margin-top: -2px;
    border: 1px solid #555;
    border-radius: 3px;
    z-index: 9000;
    &.active {
        opacity: 1;
    }
    & > button {
        display: block;
        background: #333;
        color: rgba(255,255,255,0.6);
        border: none;
        font-size: 0.8em;
        font-weight: bold;
        width: 30px;
        padding: 0.7em 0;
        cursor: pointer;
        outline: none;
        position: relative;
        &:hover:after {
            position: absolute;
            width: 6em;
            padding: 3px 8px;
            display: block;
            background: #333;
            border-radius: 3px;
            color: rgba(255,255,255,0.9);
            font-weight: normal;
            top: 4px;
            left: 40px;
        }
        &:hover {
            background: lighten($color-accent, 22%);
            color: black;
        }
        i.fa-star {
            color: gold;
        }
    }
    .actionbar-copy:hover {
        background: #81C784;
        &:after {
            content: 'Copy';
        }
    }
    .actionbar-trash:hover {
        background: #E57373;
        &:after {
            content: 'Remove';
        }
    }
    .actionbar-new:hover {
        &:after {
            content: 'Add Custom';
        }
        &:hover i.fa-star {
            color: darken($color-accent, 20%);
        }
    }
    .actionbar-new.custom:hover:after {
        content: 'Edit Custom';
    }
    .actionbar-fields:hover {
        background: #BCAAA4;
        &:after {
            content: 'Settings';
        }
    }
}