.cmint {

    &#Sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0em;
        background: $color-bg-lightgray;
        border-left: 1px solid #ddd;
        width: 25em;
        z-index: 35;
    }

    .sidebar-top {
        padding: 1em 0 1em;
        &:after {
            display: table;
            content:'';
            clear: both;
        }
        .content-name {
            color: $color-font-fade;
            padding: 0.2em 0;
            margin-left: 2em;
            float: left;
            @extend %cmint-type;
        }
        .username {
            @extend %cmint-type;
            float: right;
            margin-right: 2em;
            background: #fafafa;
            padding: 0.2em 0.5em;
            color: $color-font-fade;
            border: 1px solid $color-bd-light;
            border-radius: 3px;
            cursor: pointer;
            &:hover {
                background: white;
                color: $color-font-dark;
                box-shadow: $shadow-sidebar-action;
            }
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .sidebar-sub {
        padding: 1em 0 1em;
        border-bottom: 1px solid $color-bd-light;
        @extend %cmint-type;
        .component-categories {
            padding: 0 1em;
        }

    }

    .sidebar-main {
        border-top: 1px solid $color-bd-lighter;
        padding: 1em 2em;
        overflow-y: auto;
        position: absolute;
        top: 7.8em;
        bottom: 0;
        width: 100%;
    }

}
