#Overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
    background: rgba(50,50,50,0.5);
    opacity: 0;
    display: none;
    transition: opacity 300ms;
    &.active {
        display: block;
    }
    &.visible {
        opacity: 1;
    }
}