#ActionBar {
    opacity: 0;
    transition: opacity 200ms;
    margin-left: -44px;
    margin-top: -2px;
    border: 1px solid #333;
    border-radius: 3px;
    z-index: 9000;
    &.active {
        opacity: 1;
    }
    & > button {
        display: block;
        background: #333;
        color: rgba(255,255,255,0.6);
        border: none;
        font-size: 0.8em;
        font-weight: bold;
        width: 30px;
        padding: 0.7em 0;
        cursor: pointer;
        outline: none;
        position: relative;
        &:hover:after {
            position: absolute;
            width: 6em;
            padding: 3px 8px;
            display: block;
            background: #333;
            border-radius: 3px;
            color: rgba(255,255,255,0.9);
            font-weight: normal;
            top: 3px;
            left: 40px;
        }
        &:hover {
            background: lighten($color-accent, 22%);
            color: black;
        }
    }
    .actionbar-copy:hover {
        background: #81C784;
        &:after {
            content: 'Copy';
        }
    }
    .actionbar-trash:hover {
        background: #E57373;
        &:after {
            content: 'Remove';
        }
    }
    .actionbar-new:hover {
        &:after {
            content: 'Add Custom';
        }
    }
    .actionbar-fields:hover {
        background: #BCAAA4;
        &:after {
            content: 'Settings';
        }
    }
    .custom-add-wrap {
        position: absolute;
        left: 30px;
        top: 65px;
        width: 20em;
        background: #333;
        padding: 0.5em;
        color: rgba(255,255,255,0.6);
        @extend %cmint-type;
        font-size: 0.8em;
        span {
            display: block;
            padding: 0.2em 0.5em 0.5em;
        }
        input {
            margin: 0.5em;
            width: 17.3em;
            border: none;
            &:focus {
                outline: 2px solid lighten($color-accent, 10%);    
            }
        }
        button {
            width: 10em;
            margin: 0.5em;
            background: lighten($color-accent, 10%);
            color: rgba(0,0,0,0.7);
            padding: 0.4em 0.8em;
            border: none;
            cursor: pointer;
            outline: none;
            &:hover, &:focus {
                background: lighten($color-accent, 20%);
                color: rgba(0,0,0,0.9);
            }
        }
        .nameError {
            margin: 0.5em;
            color: lighten(red, 20%);
            font-style: italic;
        }
    }
}