* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

.font-base {
    font-family: $font-base;
}

i {
    display: inline-block;
    margin-right: 0.4em;
    margin-left: -0.4em;
}