
#Thumbnails {
    padding: 0.5em 0.5em 3em;
}

.thumbnail {

    background: white;
    border: 1px solid #ddd;
    position: relative;
    padding-bottom: 1em;
    margin-bottom: 5px;
    overflow: hidden;
    transition: padding-left 200ms;
    cursor: grab;
    cursor: -webkit-grab;

    &-component {
        transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        width: 200%;
        overflow: hidden;                                 
    }

    .comp-toolbar {
        display: none;
    }

    &.hovered {
        padding-left: 0.6em;
    }

    &-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index:1;
    }

    &-grab {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        background: $color-accent;
        transition: width 200ms;
        .hovered & {
            width: 0.6em;
        }
    }

    & > span {
        position: absolute;
        font-size: 0.8em;
        color: rgba(0,0,0,0.5);
        right: 1em;
        bottom: 0.8em;
    }

}