#Toolbar {

    position: absolute;
    z-index: 150;
    margin-top: -3px;
    right: 408px;

    button {
        background: none;
        border: none;
        float: left;
        font-size: 0.8em;
        padding: 0;
        color: white;
        width: 1.8em;
        line-height: 1.6em;
        margin-left: 4px;
        border-radius: 3px;
        text-align: center;
        outline: none;
    }
    button, i {
        cursor: pointer;
    }
    .btn-toolbar:nth-child(1) {
        background-color: #689F38;
    }
    .btn-toolbar:nth-child(2) {
        background-color: #F44336;
    }
    .btn-toolbar:nth-child(3) {
        background-color: $color-accent;
    }
    .btn-toolbar:nth-child(4) {
        background-color: #37474F;
    }

}
